.editPartyWrap{
    display: flex;
    flex-direction: column;
    padding: 22px;
    border: 1px solid #ddd;
    margin: .3rem;
    width: 280px;
    height: 620px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.555);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;

    
    input, select, textarea {
      display: block;
      margin: 0.5rem;
      height: 25px;
      border-radius: 7px;
      font-size: 18px;
      font-weight: bold;
    }

    .file {
        width: 220px;
        margin-bottom: .3rem ;
    }

    label {
        font-weight: bold;
    }

    &-Details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        &-Title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        &-Description{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &-Date{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &-Time{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &-Location{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &-Price{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        &-Image{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
        }   
    }
    
}