body {
  color: #000080;

  .partyForm {
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.489);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    input {
      width: 170px;
      box-sizing: content-box;
      margin: 0.2rem;
    }

    label {
      display: block;
      text-shadow: 1px 2px 1px #fabce2;
      font-size: 20px;
      font-weight: bold;
    }

    select {
      width: 177px;
      height: 30px;
      border-radius: 6px;
      border: 2px solid black;
    }

    .createPartyBtn {
      margin: auto;
      display: block;
      background-color: #000080;
      color: white;
      font-weight: bold;

      &:hover {
        font-size: 18px;
      }
    }
  }
}
