$navy: #000080;

body {
  color: $navy;
  height: 100vh;

  .MyNewParty {
    margin-top: 5rem;
  }

  .partyForm {
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.691);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    

    input {
      width: 170px;
      box-sizing: content-box;
      margin: 0.2rem;
        height: 25px;
      border-radius: 7px;
    }

    label {
      display: block;
      text-shadow: 1px 2px 1px #fabce2;
      font-size: 20px;
      font-weight: bold;
    }

    select {
      width: 177px;
      height: 30px;
      border-radius: 6px;
      border: 2px solid black;
    }

    .createPartyBtn {
      display: block;
      margin: .5rem auto .5rem auto;
      background-color: $navy;
      border-radius: 12px;
      color: white;
      font-size: 17px;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      font-weight: bold;
      }
    }
  }
}
