body {
  color: white;
  background-color: #0000801e;
  font-family: "Quicksand", sans-serif;
  background-image: url(/src/imgs/confetti.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .loginForm {
    margin: auto;
    display: block;
    padding: .5rem 4rem .5rem 4rem;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .loginTitle {
      color: #000080;
    }

    label {
      font-size: 18px;
      font-weight: bold;
      color: #000080;
      text-shadow: 1px 1px 1px #000080;
    }

    input {
      display: block;
      margin: 0.5rem;
      height: 25px;
      border-radius: 7px;
    }

    .submitBtn {
      color: white;
      font-weight: bold;
      background-color: #000080;

      &:hover {
        font-size: 18px;
      }
    }

    .loginBtn {
      background-color: rgb(37, 45, 106);
      border-radius: 12px;
      color: white;
      font-size: 23px;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .test {
    margin-top: 3rem;
    font-size: large;
    font-weight: bold;
  }

  code {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
  }
}

.error {
  color: navy;
}
