$navy: #000080;

body {
  color: white;
  background-color: #0000801e;
  font-family: "Quicksand", sans-serif;
  background-image: url(/src/imgs/confetti.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .loginForm {
    margin: auto;
    display: block;
    padding: 0.5rem 4rem 0.5rem 4rem;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .loginTitle {
      font-size: 40px;
      font-weight: bold;
      color: $navy;
    }

    label {
      font-size: 18px;
      font-weight: bold;
      color: $navy;
    }

    input {
      display: block;
      margin: 0.5rem;
      height: 25px;
      border-radius: 7px;
    }

    .submitBtn {
      color: white;
      font-weight: bold;
      background-color: $navy;

      &:hover {
        font-size: 18px;
      }
    }

    .loginBtn {
      margin: 0.5rem;
      background-color: $navy;
      border-radius: 12px;
      color: white;
      font-size: 17px;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
      }
    }
  }

  .test {
    margin-top: 3rem;
    font-size: large;
    font-weight: bold;
  }

  code {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
  }
}

.error {
  color: $navy;
}

.errorMessage {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
