$navy: #000080;

.partyCard {
  border: 1px solid #ddd;
  margin: 0.7rem;
  width: 280px;
  height: 440px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.555);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 22px;
  justify-content: center;




  .partyName {
    margin: 1rem;
  }

  .partyDetails {
    width: 100%;
    height: 65px;
    background-color: #010136b3;
    border-radius: 4px;
    margin-top: 12rem;

    p {
      color: white;
      font-weight: 500;
      padding: 4px;
    }
  }

  .cardBody {
    position: relative;
    height: 255px;
   

    .imageOverlay {
      position: absolute;
      width: 280px;
      height: 250px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .party-description {
    h4 {
      margin: 8px 0;
    }

    .joinPartyBtn {
      background-color: #fa90d2;
      margin-bottom: 1.2rem;
      color: $navy;
      font-size: 17px;
      font-weight: bold;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $navy;
        color: #fa90d2;
      }
    }
  }
}
