#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.test {
  background-color: black;
  padding: 10px;
  margin-top: 20px;
}

code {
  background-color: gray;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
}