body {
  background-image: url(/src/imgs/confetti.png);
  background-color: #0000801e;
  background-repeat: repeat-y;

  .titleSearch {
    margin: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .adminSearch {
    margin: auto;
    height: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
  }

  .filteredUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
