.hero-container {
    color: white;
    padding: 50px;
    background-color: black;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out forwards; /* Example animation - fadeIn */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero-container h1 {
    font-size: 2rem;
    margin-top: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-container p {
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-container img {
    width: 90vw;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: scaleImage 1s ease-in-out forwards;
    margin: 1rem;
}

@keyframes scaleImage {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.rounded-top-right {
    border-top-right-radius: 100px;
}

.image-container {
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .hero-container {
        padding: 30px; 
    }
  
    .hero-container h1 {
        font-size: 1.5rem; 
        margin-top: 1.5rem;
      
    }

    
  
    .hero-container p {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
  
    .hero-container img {
        width: 100%; 
        height: auto;
    }
  
    .rounded-top-right {
        border-top-right-radius: 20px;
    }
}
