$navy: #000080;

.createPartyUP {
    background-color: $navy;
    border-radius: 12px;
    color: white;
    font-size: 22px;
    
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
      }
}