$navy: #000080;

.UPmain {
  margin-top: 5rem;

  h2 {
    margin: 2.5rem;
  }

  .userDetails {
    p {
      margin: 0.6rem;
    }
  }

.userProfile {
  margin: auto;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.567);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.271),
        0 13px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px;
  

  .profile {
    text-align: left;
    
    span {
      text-shadow: 1px 2px 1px #fabce2;
      font-size: 22px;
    }

  }
}
  .editProfileBtn {
    padding: 10px;
    margin: 15px;
    font-size: 17px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    background-color: #000080;
    border: none;

    &:hover {
      font-size: 18px;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .createPartyUP {
    background-color: $navy;
    border-radius: 12px;
    color: white;
    font-size: 22px;
    padding: 10px;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      font-weight: bold;
    }
  }
}
