$navy: #000080;

body {
  color: white;
  background-color: $navy;
  font-family: "Quicksand", sans-serif;
  background-image: url(/src/imgs/confetti.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .createPartyHP {
    margin-bottom: .5rem;
    background-color: $navy;
    border-radius: 12px;
    color: white;
    font-size: 22px;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.271),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      font-weight: bold;
    }
  }

  .upcoming {
    margin-top: 5rem;
    font-size: 30px;
  }
}

.error {
  color: $navy;
}
