.all-parties {
  margin-top: 100px;

  .parties-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.3rem;
    gap: 1rem;
  }
}
